@charset "UTF-8";

/* FONTE ROBOTO MONO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* FONTE ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --robotoMonoFont: 'Roboto Mono', monospace,sans-serif;
    --robotoFont: 'Roboto', monospace, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

#navTop{
    width: auto;
    border-bottom: solid 1px black;
    height: 40px;
    background-color: gray;
}
#divNavTop{
    max-width: 80%;
    margin: auto
}
#btnLoginNavTop{
    font-size: 1.5vw;
    font-family: var(--robotoMonoFont);
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    float: right;
    font-style: normal;
}

#corpo{
    max-width: 80%;
    margin:auto;
    font-family: var(--robotoFont);
    font-size: 1.2vw;
}
header h1{
    font-size: 9vw;
    text-align: center;
    margin: 0px;
}

header h2{
    font-family: var(--robotoMonoFont);
    font-size: 3vw;
    margin: 0px;
    color: gray;
}
nav{
    height: 50px;
}
nav div{
    float: left;
    margin: 0px 5px;
}
main{
    margin-top: 40px;
}

#ramDance{
    position: absolute;  
    bottom: 0px;
    left: -30px;
    width: 14%;
}

#remDance{
    position: absolute;  
    bottom: -15px;
    right: 0px;
    width: 10.5%;
}

footer{
    width: 100%;
    height: 30px;
    background-color: rgb(202, 202, 202);
    font-family: var(--robotoMonoFont);
    font-size: 1.5vw;
    text-align: center;
    padding: 20px 0px;
}

@media screen and (max-width:800px){
    #corpo{
        margin: 5px;
        max-width: 100%;
        font-family: var(--robotoFont);
        font-size: 5vw;
    }
    header h1{
        font-size: 11vw;
    }    
    header h2{
        font-size: 6vw;
    }

    footer{
        font-size: 5vw;
    }

    #remRamDace{
        display: none;
    }
}